*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/calculator-background.jpg);
}
.calculator {
    background-color: #f79df7;
    border: 2px solid #e412eb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border: 2px solid #e412eb;
    border-radius: 10px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: aqua;
}
